---
layout: default
title: GoFitWithAlden
seo:
   title: Fitness Challenge
   description: Challenge yourself to become a better version in 75-days
   social_image:
   twitter_card:
   twitter_description:
   author: Alden Reyes
   keywords: Fitness, Nutrition, Experts, Trained,
   hide-from-google:
_comments:
   title: Max 70 characters
   social_image: Landscape 1200 x 600px
banner:
-  title: Banner 1
   description: Are you ready to take the first step toward a 2024 filled with health, vitality and confidence?
icon2:
-  icon: fa-solid fa-dumbbell
   description: ...increase muscle mass
-  icon: fa-solid fa-weight-scale
   description: ...lose weight
-  icon: fa-solid fa-heart-pulse
   description: ...improve cardiovascular health
-  icon: fa-solid fa-spa
   description: ...improve overall well-being
faq:
-  question: Why did you decide to take on this challenge?
   answer: With over a decade of experience, I feel the urgency to create a positive impact. My goal is to share all the valuable knowledge I've gained throughout this journey. I hope you can make the most out of this information, as it represents a unique perspective that is rarely shared.
-  question: Who can join this challenge?
   answer: This program welcomes individuals dedicated to enhancing their fitness, irrespective of their current level. Whether you're a beginner intermediate, or at an advanced fitness stage, this program is designed to cater to and uplift everyone, ensuring valuable benefits for all participants.
-  question: What is the 75-day online workout challenge?
   answer: It's a comprehensive fitness program (online) designed to help individuals transform their bodies and lifestyles over 75 days through personalized workout routines, nutrition guidance, and community support.
-  question: Is equipment required for the workouts?
   answer: The program offers a variety of workouts, some of which may require minimal equipment or bodyweight exercises, making it accessible for most participants.
-  question: What makes this challenge unique?
   answer: This challenge combines personalized fitness plans, ongoing support, and a sense of community, creating an environment that fosters success, motivation, and sustainable lifestyle changes.
-  question: When will the information be provided?
   answer: The information will be provided as soon as it's ready, at the beginning of December. Meanwhile, you can subscribe to receive updates on its release. Stay tuned for more details!
cards:
-  title: Unleash Your Best Self<br>Information Guide
   description: This guide will give you valuable information before you start the 75-day Challenge. It will help you define your body type, you will learn about nutrition and supplements and you will receive key input what to consider when exercising.
   id: Alden-1
   details: + Nutrition Section so you know about a Balanced Diet, Supplements  and Intermittent Fasting<br>+ Exercise Section with information on Warm-Up, Stretching and Results-Oriented Workouts<br>+ 39 pages packed with highly valuable information
   price: 60,00 USD
   snipcartprice: 60.00
   snipcartid: 456dae0b-a7d3-4ee7-a88e-c3b11a73bf45
   cards_image: /images/informationguide.png 
-  title: Unleash Your Best Self<br>75-Day Routine
   description: This Routine will be guiding you to exercise for 75-days. The Routine is available for women and men and is divided in 3 months; the first months you will focus on one muscle each day, the second months is about muscle confusion and super sets. In the final months, muscle building and super sets will be combined.  
   id: Alden-2
   details: + Exercises to train for 5 - 7 Days a week.<br>+ Available for women and men<br>+ Over 50 pages of highly effective workout plans.
   price: 50,00 USD
   snipcartprice: 50.00
   snipcartid: 16b8b14c-5388-4e0b-9bef-185f1c616b82
   cards_image: /images/workoutplan.png
   version: Versions
   options: Select | Women | Men
   required: true
-  title: Unleash Your Best Self<br>Nutrition Guide
   description: The Nutrition Plan, available for different body types, is a good add-on to combine with the 75-Day Routine  to reach maximal results. However, it can also be used separately. You will receive various meal options to help you eat healthy and nutritient during the day. 
   id: Alden-3   
   details: + Meal Plans divided in Breakfast, Lunch, Snacks and Dinner.<br>+ Available for 3 different body types (Mesomorph, Ectomorph and Endomorph)<br>+ 10 pages of healthy and nutritient meal options.
   price: 10,00 USD
   snipcartprice: 10.00
   snipcartid: a073646a-d721-4556-bfc9-6bccb42521ee
   cards_image: /images/nutrition.png
   version: Versions
   options: Endomorph | Ectomorph | Mesomorph
   required: true
banner1_image: /images/IMG_2330.jpg
banner2_image: /images/IMG_2465.jpg
banner3_image: /images/IMG_2281.jpg
---
<!-- Welcome Banner / tablet & laptop -->
    <section class="bg-image tall-70 grid center" style="background-image:url('{{page.banner1_image}}');">
        <div class="col-12-middle">
            <h1 class="big-bold">
                <span class="highlight wide editable"> Unleash Your Best Self</span> <br />
                <span class="highlight kursiv green editable"> The GoFitWithAlden 75 Day-Online Challenge</span> <br />
            </h1>
        </div>
    </section>

<!----------------------About the Challenges ------------------------->
<section class="grid padded-sm padded-b-0 padded-l-r">
    <div class="col-3_xs-12 padded">
        <h2 class="editable"> Challenge Yourself </h2>
    </div>
    <div class="col-9_xs-12 padded">
        <p class="editable">
           Begin 2024 with a bang and transform your life alongside GoFitWithAlden in our 75-Day Online Challenge! January 1st is the perfect time to commit to a radical, positive change that will revolutionize every aspect of your life, starting with your health. Are you ready to take the plunge?
        </p>
        <p class="editable">
           The 75-Day Challenge with GoFitWithAlden is a unique opportunity to unlock your best self. I will be right there with you every step of the way, providing the support, guidance, and motivation you need to reach your goals.
        </p>
        <p class="editable">
           This challenge is not just about exercise, it's about an active and healthy lifestyle. You will have the opportunity to gain access to an exclusive ebook filled with invaluable insights on unleashing your full potential. Dive into a wealth of knowledge starting with identifying your unique body type and mastering tailored nutrition strategies to fuel your journey towards success.
        </p>
        <p class="editable">
           You'll learn to incorporate daily practices that lead to a more balanced life. From meditation to stress management and time organization, you'll achieve a mind and body in harmony.
        </p>
        <p class="editable">Are you ready to unleash your best self?.</p>

        <p class="editable">Stay up to date and be the first to receive information related to the challenge.</p>
        <div class="button-dark margin-t editable modal-trigger" data-modal-id="modal-2"> Subscribe for Challenge Updates</div>
        <div id="modal-2" class="modal">
            {% include modal.html %}
        </div> 
    </div>

</section>

<!-- Foto Section / only Desktop -->
<section class="grid padded-sm mob-hide flex-flip">
    <div class="col-6_md-5-middle bg-image padded-lg rounded" style="background-image:url('{{page.banner2_image}}');"></div>
    <div class="col-6_md-7-middle padded right">
        <h3>
            <span class="highlight big-bold padded editable"> Your Complete <br /> Fitness Challenge</span> <br />
            <span class="highlight kursiv green padded editable"> Get Support. Get Results.</span> <br />
        </h3>
        <p class="editable margin-t right">Of course, there will be sacrifices along the way, but remember that every sacrifice will bring you one step closer to the person you want to be.</p>
        <p class="editable margin-t right">Stepping out of your comfort zone is essential for personal growth, and Alden will be there to guide you.</p>
    </div>
</section>

<!--  Foto Section / only mobile -->
<section class="bg-image tall-50 grid-left hide mob-show" style="background-image:url('{{page.banner2_image}}');">
    <div class="col-6_sm-12-middle padded white opacity">
        <h3 class="center">
            <span class="highlight big-bold padded editable"> Your Complete <br />Fitness Challenge</span> <br />
            <span class="highlight kursiv green padded editable"> Get Support. Get Results. </span> <br />
        </h3>
        <p class="center editable margin-t padded-l-r">Of course, there will be sacrifices along the way, but remember that every sacrifice will bring you one step closer to the person you want to be.</p>
        <p class="center editable padded-l-r">Stepping out of your comfort zone is essential for personal growth, and Alden will be there to guide you.</p>  
    </div>  
</section>

<!--  Icon Section 2 -->
<section class="grid-spaceAround margin-b-4">
    <div class="col-12 padded">
        <h3 class="heading big-bold center editable">I am here to help you!</h3>
        <h2 class="kursiv green center editable"> No matter if you are looking to...</h2>
</div> 
        {% for item in page.icon2 %}

            {% include icon-section.html %}

        {% endfor %}

</section>

<!----------------Foto Section 2 / Desktop---------------->
<section class="grid padded-sm mob-hide">
    <div class="col-6_md-5-middle bg-image padded-lg rounded" style="background-image:url('{{page.banner3_image}}');"></div>
    <div class="col-6_md-7-middle padded">
        <h3>
            <span class="highlight big-bold padded editable"> Do you want to feel <br /> better than ever?</span> <br />
            <span class="highlight kursiv green padded editable"> Improve your health. Transform your body.</span> <br />
        </h3>
        <p class="editable margin-t">This challenge is not just a temporary change; it's a lifelong transformation.</p>
        <p class="editable margin-t">Alden and the GoFitWithAlden community will be there with you every step of the way, celebrating your success and supporting you through the challenges.</p>
    </div>
</section>

<!--  Foto Section / only mobile -->
<section class="bg-image tall-50 grid-left hide mob-show" style="background-image:url('{{page.banner3_image}}');">
    <div class="col-6_sm-12-middle padded white opacity">
        <h3 class="center">
            <span class="highlight big-bold padded editable"> Do you want to feel <br /> better than ever? </span>
            <span class="highlight kursiv green padded editable"> Improve your health. Transform your body. </span> <br />
        </h3>
        <p class="center editable margin-t padded-l-r">This challenge is not just a temporary change; it's a lifelong transformation.</p>
        <p class="center editable margin-t  padded-l-r">Alden and the GoFitWithAlden community will be there with you every step of the way, celebrating your success and supporting you through the challenges.</p>
    </div> 
</section>


<!-- CTA Banner -->
<section class="padded">
    {% for item in page.banner limit:1 %}

        {% include banner.html %}

    {% endfor %}
</section>


<!-- Section Workout Plans - Desktop ---------------->
<section class="padded-sm xs-hide show">
    <h3 class="col-12 heading big-bold center editable">The Guides and Routines</h3>
    <h2 class="col-12 kursiv green center editable">Become your best version</h2>
    <div class="grid">
        {% for item in page.cards %}
        <div class="col-4_md-6_xs-12-middle padded-1">
            <div class="medium right">
              <div class="card-image" style="background-image:url('{{item.cards_image}}');">
                <p class="right tag">{{item.price}}</p>
              </div> 
                <div class="center"> 
                    <h4 class="padded-05 margin-b test-1"> {{item.title}}</h4> 
                    <p class="padded-05 test-2 small"> {{item.description}}</p> 
                    <button class="button-dark editable snipcart-add-item shop"             
                            data-item-id="{{item.id}}"
                            data-item-price="{{item.snipcartprice}}"
                            data-item-description="{{item.description}}"
                            data-item-url="{{page.url}}"
                            data-item-image="{{item.cards_image}}"
                            data-item-name="{{item.id}}"
                            data-item-file-guid="{{item.snipcartid}}"
                            data-item-custom1-name="{{item.version}}"
                            data-item-custom1-options="{{item.options}}"
                            data-item-custom1-required="{{item.required}}">                    
                            Add to Cart <i class="fa-solid fa-cart-shopping shop"></i>         
                    </button> 
                    <button class="accordion small">Details of the Guide
                               <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="pannel">
                        <p class="left test-3 small">{{item.details}}</p>
                    </div>

                </div>  
            </div>  
        </div> 
        {% endfor %}
    </div>
</section>


<!-- Section Workout Plans - Mobile ---------------->
<section class="padded-sm hide xs-show">
    <h3 class="heading big-bold center editable">The Guides and Routines</h3>
    <h2 class="kursiv green center editable">Become your best version</h2>
    <div class="scrolling-wrapper-flexbox">
        {% for item in page.cards %}
        <div class="card padded-sm">
            <div class="card-image" style="background-image:url('{{item.cards_image}}');">
                <p class="right tag">{{item.price}}</p>
            </div> 
            <div class="center medium"> 
                <h4 class="padded-05 margin-b test-1"> {{item.title}}</h4> 
                <p class="padded-05 test-2 small"> {{item.description}}</p> 
                <div class="grid">
                        <div class="col-12 center">
                            <button class="button-dark editable snipcart-add-item shop"             
                            data-item-id="{{item.id}}"
                            data-item-price="{{item.snipcartprice}}"
                            data-item-description="{{item.description}}"
                            data-item-url="{{page.url}}"
                            data-item-image="{{item.cards_image}}"
                            data-item-name="{{item.id}}"
                            data-item-file-guid="{{item.snipcartid}}"
                            data-item-custom1-name="{{item.version}}"
                            data-item-custom1-options="{{item.options}}"
                            data-item-custom1-required="{{item.required}}">                    
                            Add to Cart <i class="fa-solid fa-cart-shopping shop"></i>         
                    </button> 
                        </div>
                    <div class="medium col-12">
                        <button class="accordion small">Details of the Plan
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div class="pannel">
                            <p class="left test-3 small">{{item.details}}</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
        {% endfor %}
    </div>
</section>





<!----------------------About the Challenges ------------------------->
<section class="grid padded-sm padded-b-0 padded-l-r">
    <div class="col-3_xs-12 padded padded-b-0">
        <h2 class="editable"> Join Today </h2>
    </div>
    <div class="col-9_xs-12 padded">
        <p class="editable">Your enhanced version is waiting for you at the end of these 75 days. Join us and take the first step towards your radical positive change!</p>
        <!-- <div>
            <button class="button-dark editable snipcart-add-item"             
              data-item-id="Unleash your Best-self"
              data-item-price="60.00"
              data-item-price-{alternatePriceList}="40.00"
              data-item-description="The GoFitWithAlden 75-Day Challenge "
              data-item-image="/images/IMG_2350.JPG"
              data-item-name="Unleash your Best-self"
              data-item-file-guid="ab5a6230-c362-40a4-a043-9737d3591481">
              Buy Access Now! <i class="fa-solid fa-cart-shopping shop"></i>         
            </button> 
        </div> -->
        <p class="editable margin-t">To receive all information and special offers to the challenge, feel free to subscribe.</p>
        <div class="button-dark margin-t editable modal-trigger" data-modal-id="modal-1"> Subscribe for Challenge Updates</div>
        <div id="modal-1" class="modal">
            {% include modal.html %}
        </div> 
      
    </div>
</section>

<!------------------------------FAQ  Section ------------------------------>
<section class="grid-center padded-sm padded-l-r">
    <h3 class="col-12-middle center">Frequently Asked Questions</h3>
    {% for item in page.faq %}

        {% include faq.html %}

    {% endfor %}
</section>


