<!-- Styles  -->
<style> 

    :root {
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --dark-text: {{ site.data.site-settings.design.dark-text_color }} ;
        --grey-text: {{ site.data.site-settings.design.grey-text_color }};
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --medium: {{ site.data.site-settings.design.medium_color }};
        --featured: {{ site.data.site-settings.design.featured_color }};
        --v-light: {{ site.data.site-settings.design.v-light_color }};
    }

</style> 