<div class="center">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form name="challengesubscription" class="col-8-sm-9_xs-12 padded-sm" data-netlify="true">   
            <label for="_name"> Your Name </label>
            <input type="text" name="_name" id="_name" placeholder="Name" />
          
            <label for="_replyto"> Your Email </label>
            <input type="email" name="_replyto" id="_replyto" placeholder="Email" />
          
            <label for="message"> Leave a Comment or Ask a Question! </label>
            <textarea name="message" id="message" placeholder="I am participating at this challenge to...."></textarea>
          
            <div class="right">
                <button type="submit"> Send </button>
            </div>        
          </form> 
    </div>
