<header class="grid-spaceAround mob-hide navigation">
  <div class="col-2-middle">
    <a href="/index">
      <h2 class="bg-logo"></h2>
    </a>
  </div>
    <nav class="col-10-middle right">
      <a href="/about" class="padded-1 margin-l-r-big editable"> About </a>
      <a href="/challenges" class="padded-1 margin-l-r-big editable"> Challenge</a>
      <a href="/contact" class="padded-1 margin-l-r-big editable"> Contact </a>
    </nav>
</header>

<!-- Mobile Nav -->
<div class="col-9 center hide mob-show">
    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
</div>

<div class="burger-menu">
  <a href="/index" class="bg-logo"></a>
  <a href="/about" class="editable">About</a>
  <a href="/challenges" class="editable">Challenge</a>
  <a href="/contact" class="editable">Contact</a>
</div>
