 <!-------------------------Footer ---------------------------------------------------->
    <footer class="padded-sm grid-spaceBetween">
        <div class="col-4_xs-2-middle">
            <a href="/index" class="bg-logo center"></a>
        </div>
        <div class="col-8_xs-10-middle padded-l-r right">
            <nav class="inline">
                <a href="/about" class="padded-1 margin-l-r-big editable"> About </a>|
                <a href="/challenges" class="padded-1 margin-l-r-big editable"> Challenge </a>|
                <a href="/contact" class="padded-1 margin-l-r-big editable"> Contact </a>|
                <!-- <a href="/protected/test" class="padded-1 margin-l-r-big editable">Access Challenge</a> -->
            </nav>
            <nav class="inline">
                <a href="https://www.facebook.com/gofitwithalden" target=”_blank” class="nav-link tiny">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/gofitwithalden/" target=”_blank” class="nav-link tiny" >
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@gorillaf1t/" target=”_blank” class="nav-link tiny">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </nav>
        </div>
    </footer>





